langgraph
langchain
langchain-core
langchain-community
langchain-text-splitters
sentence-transformers
pypdf
docx2txt
unstructured
fastapi
uvicorn
streamlit
python-dotenv
pinecone
langchain-pinecone
langchain-litellm
langchain-tavily
requests
uvid
langchain-huggingface
starlette<1.0
